{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>Enter Lost Person Details</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script src="{% static 'javascript/upload_lost_person_image_form.js' %}"></script>
	</head>
	<body>
			<div class="jumbotron">
					<center>
						<h1>KHOJ</h1>      
						<p>A platform to prevent child trafficking.</p>
					</center>
			</div>
			<form id="lost_person_details" action="upload_lost_person_details" method="POST" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="container">
				<center>
				<div class="row">
					<div class="col-md-6">
						<label>First Name</label>
						<input type="text" class="form-control" placeholder="First name" name="first_name">
					</div>
					<div class="col-md-6">
						<label>Last Name</label>
						<input type="text" class="form-control" placeholder="Last name" name="last_name">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-6">
							<label for="gender">Gender</label>
							<select class="form-control" id="gender" name="gender">
								<option>Male</option>
								<option>Female</option>
								<option>Other</option>
							</select>
					</div>
					<div class="col-md-6">
						<label>Blood Group</label>
						<input type="text" class="form-control" placeholder="Blood Group" name="blood_group">
					</div>
				</div>
				<br>
				<div class="row">
						<div class="col-md-6">
							<label>Face Complexion</label>
							<select class="form-control" id="face_complexion" name="face_complexion">
								<option>Wheatish</option>
								<option>Fair</option>
								<option>Dark</option>
							</select>
						</div>
						<div class="col-md-6">
							<label>Body Built</label>
							<select class="form-control" id="body_built" name="body_built">
								<option>Thin</option>
								<option>Strong</option>
								<option>Fat</option>
							</select>
						</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-6">
						<label>Min Height Range</label>
						<input type="text" class="form-control" placeholder="In centimetres" name="lower_height_range">
					</div>
					<div class="col-md-6">
						<label>Max Height Range</label>
						<input type="text" class="form-control" placeholder="In centimetres" name="upper_height_range">
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-6">
						<label>Aadhar Card Number</label>
						<input type="text" class="form-control" id="lost_person_name" placeholder="Enter Aadhar Card Number" name="aadhar_num">
					</div>
					<div class="col-md-6">
						<label>Face Shape</label>
						<select class="form-control" id="body_built" name="face_shape">
							<option>Oval</option>
							<option>Heart</option>
							<option>Triange</option>
						</select>
					</div>
				</div>
				<br>
				<br>
				<label>Upload the images of the lost person</label>
				<input type="file" class="" id="loster_image" placeholder="Enter Name" multiple name="images">
				<br>
				<button type="submit" class="btn btn-primary" id="search_button">Upload</button>
				</center>
				<br>
				</div>
			</form>
	</body>
</html>